#person {
    height: 300px;
}

#person_list {
    width: 800px;
    height: 100px;
}

.person {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
}

.person:hover {
    border: solid 2px red;
}

.person.active {
    border: solid 3px blue;
}

.person_selected {
    font-size: 18px;
}

.pager > div {
    display: inline-block;
}

.pager .next,
.pager .prev {
    cursor: pointer;
}