#person {
    width: 300px;
    height: 300px;
}

#person_list {
    width: 800px;
    height: 100px;
}

.person {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
}

.person:hover {
    border: solid 2px red;
}

.person.active {
    border: solid 3px blue;
}